# ignore everything in overlays except the example folder
**/overlays/*
!**/overlays/example

# ignore all troubleshoot outputs
instana-debug
instana-debug*.tar.gz

# custom base level scripting
/*.sh
